<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GAME LOGIN</title>
    <script src="https://kit.fontawesome.com/869dc8f5ef.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="/singUp" method="post">
            <h1>Crea tu Cuenta</h1>
            <div class="social-container">
                <img src="/img/profile.jpeg">
            </div>
            <input name="name" type="text" placeholder="Name"/>
            <input name="companyName" type="text" placeholder="Business name"/>
            <input name="email" type="email" placeholder="Email"/>
            <input name="password" type="password" placeholder="Password"/>
            <div>
                <button name="button" value="freelance" type="submit" class="brown" onclick="myFunction()">Freelance
                </button>
                <button name="button" value="cliente" type="submit" class="brown" onclick="myFunction()">Cliente
                </button>
            </div>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="/postlogin" method="post">
            <h1>Iniciar Sesión</h1>
            <div class="social-container">
                <img src="/img/profile.jpeg">
            </div>
            <input name="email" type="email" placeholder="Email"/>
            <input name="password" type="password" placeholder="Password"/>
            <button name="button" value="freelance" type="submit">Soy Freelancer</button>
            <button name="button" value="cliente" type="submit">Soy Cliente</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>¡Bienvenido!</h1>
                <p>
                    La web que apoya al trabajo por cuenta propia.
                </p>
                <button class="ghost" id="signIn">Inicia sesión</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>¡Estás de vuelta!</h1>
                <p>¿No tienes cuenta?</p>
                <button class="ghost" id="signUp">Registrar</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/event.js"></script>
<script>
    function myFunction() {
        alert('Entra ahora desde "Iniciar Sesion" :) ');
    }
</script>
</body>
</html>